h2 班级公告
//- div(id="status")
div(class="notice-mange" id="notice")
    -if(notices)
        each notice in notices
            h1 
                a(href="/notice/"+notice.userName+"/"+notice.noticeTitle+"/"+notice._id) 标题：#{notice.noticeTitle}
            a(href="/mange/notice/edit/"+notice.userName+"/"+notice.noticeTitle+"/"+notice._id) 编辑   |   
            a(href="/mange/notice/remove/"+notice.userName+"/"+notice.noticeTitle+"/"+notice._id) 删除
            //- p 内容：#{notice.noticeContent}
            span 发布时间：#{notice.postDate.minute}
            span 发布人：#{notice.userName}
            span 浏览了#{notice.pv}次
    p 当前页数：#{page}
    p 总共#{total}条公告
div
    -if(!isFirstPage)
        a(href="?page="+(page-1)) 上一页
    -if(!isLastPage)
        a(href="?page="+(page+1)) 下一页