-if(modTit)
    h2 #{modTit.task}
- else
    h2 公告修改
div(id="status")
p #{success}
p #{error}
form(class="form-horizontal" id="post_task" method="post")
    -if(task)
        input(type="text" class="form-control" name="taskTitle" id="taskTitle" placeholder="作业标题" maxlength="20" value=task.taskTitle)
        br
        textarea(class="form-control" name="taskContent" id="taskContent" rows="10" cols="100" placeholder="在这里修改作业描述") #{task.taskContent}
        br
        input(class="btn btn-lg" type="submit" value="修改" id="taskChange")
    -else
        input(type="text" class="form-control" name="taskTitle" id="taskTitle" placeholder="作业标题" maxlength="20")
        br
        textarea(class="form-control" name="taskContent" id="taskContent" rows="10" cols="100" placeholder="在这里写作业描述")
        br
        input(class="btn btn-lg" type="submit" value="发布" id="taskSubmit")